<h2>Here are the currently available Cohorts</h2>
<br>
<br>
<% @cohorts.each do |c| %>
  <%= "#{c.title} with #{c.teacher.name}" %>
  <br>
  <%= link_to "Join this class", new_cohort_user_cohort_path(c)%>
  <br>
  <br>
<%end%>
