<center><h2>Here are the currently available Cohorts: </h2>
<br>
<br>
<% @cohorts.each do |c| %>
  <% if !@user.cohorts.include?(c) %>
    <h5><%= "#{c.title} with #{c.teacher.name}" %></h5>
    <br>
    <div class="btn btn-primary" style="padding: 0px">
      <%= link_to "Join this class", new_cohort_user_cohort_path(c), :class => "btn" %>
    </div>
    <br>
    <br>
  <%end%>
<%end%>
</center>
