<h1><%= @cohort.title %></h1>
<% if @user == @cohort.teacher %>
  <%= link_to "Add an Asignment", new_cohort_assignment_path(@cohort) %>
<%end%>

<% @cohort.assignments.each do |a| %>
<%= link_to a.title, cohort_assignment_path(@cohort,a) %><br>
<%end%>
