<h2><%= @assignment.title %> for <%= @assignment.cohort.title %></h2>
<br>
<% if current_user.current_role == "Student" && !@assignment.papers.detect{|p| p.author == current_user}%>%>
  <%= link_to "Submit a paper", new_cohort_assignment_paper_path(@assignment.cohort,@assignment) %>
<%end%>
<br>
<br>
<h4>Papers Available for Review</h4>
<br>

<% @assignment.papers.each do |p| %>
  <% if p.author != current_user && p.reviewed? == false && @assignment.papers.detect{|p| p.author == current_user}%>
    <%= link_to p.title, cohort_assignment_paper_path(@assignment.cohort,@assignment,p) %>
  <%end%>
<%end%>
