<center><h2><%= @paper.title %></h2>
<br>
<br>
<p><%= @paper.content %></p>
  <% if @paper.author != current_user && @paper.assignment.cohort.teacher != current_user %>
    <h5>Review this paper</h5>
    <div class="btn btn-primary" style="padding: 0px">
      <%= link_to "Review this Paper", new_cohort_assignment_paper_review_path(@paper.assignment.cohort.id,@paper.assignment.id,@paper.id), :class => "btn" %>
    </div>
  <%end%>
</center>
